<html>
    <body>
        <div id="Collaboration-page" class="container-fluid">
            <hr class="collabor-head">
            <section id="Collaboration">
                <div class="row-fluid">
                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding row1">
                        <h1 class="head-1"><?php echo get_string('collaborate_title_en', 'theme_eduopen');?></h1>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-cent">
                        <h4><?php echo get_string('join_volenteers_en', 'theme_eduopen'); ?></h4>
                        <h4><?php echo get_string('learn_opportunities_en', 'theme_eduopen'); ?></h4>
                    </div>
                </div>
            </section>

            <br><br>

            <div class="col-md-12 col-sm-12 col-xs-12 pad0A">
                <div class="col-md-9 col-sm-8 col-xs-6 collbora-9">
                    <section id="Edu-Translator">
                        <div class="row-fluid">
                            <div class="col-md-12 col-sm-12 col-xs-12 pad0A">
                                <h1 class="translator-head"><?php echo get_string('eduopen_translator_en', 'theme_eduopen'); ?></h1>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 pad0A faq-sec">
                                <div class="faq">
                                    <p><?php echo get_string('translator_q1_en', 'theme_eduopen'); ?></p>
                                    <ul>
                                        <li><?php echo get_string('translator_a11_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('translator_a12_en', 'theme_eduopen'); ?></li>
                                    </ul>
                                </div>
                                <div class="faq">
                                    <p><?php echo get_string('translator_q2_en', 'theme_eduopen'); ?></p>
                                    <ul>
                                        <li><?php echo get_string('translator_a21_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('translator_a22_en', 'theme_eduopen'); ?></li>
                                    </ul>
                                </div>
                                <div class="faq">
                                    <p><?php echo get_string('translator_q3_en', 'theme_eduopen'); ?></p>
                                    <ul>
                                        <li><?php echo get_string('translator_a31_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('translator_a32_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('translator_a33_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('translator_a34_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('translator_a35_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('translator_a36_en', 'theme_eduopen'); ?></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 pad0A apply-but">
                                <div class="btn apply-bt"><a href="https://it.surveymonkey.com/r/eduopen_translator">Apply</a></div>
                                <div class="btn join-bt">Join the translator Community</div>
                                <hr class="apply-hr">
                            </div>
                        </div>
                        <br>
                    </section>

                    <section id="Edu-Transcriptor">
                        <div class="row-fluid">
                            <div class="col-md-12 col-sm-12 col-xs-12 pad0A">
                                <h1><?php echo get_string('eduopen_transcriptor_en', 'theme_eduopen'); ?></h1>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 pad0A faq-sec">
                                <div class="faq">
                                    <p><?php echo get_string('transcriptor_q1_en', 'theme_eduopen'); ?></p>
                                    <ul>
                                        <li><?php echo get_string('transcriptor_a11_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('transcriptor_a12_en', 'theme_eduopen'); ?></li>
                                    </ul>
                                </div>
                                <div class="faq">
                                    <p><?php echo get_string('transcriptor_q2_en', 'theme_eduopen'); ?></p>
                                    <ul>
                                        <li><?php echo get_string('transcriptor_a21_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('transcriptor_a22_en', 'theme_eduopen'); ?></li>
                                    </ul>
                                </div>
                                <div class="faq">
                                    <p><?php echo get_string('transcriptor_q3_en', 'theme_eduopen'); ?></p>
                                    <ul>
                                        <li><?php echo get_string('transcriptor_a31_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('transcriptor_a32_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('transcriptor_a33_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('transcriptor_a34_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('transcriptor_a35_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('transcriptor_a36_en', 'theme_eduopen'); ?></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 pad0A apply-but">
                                <div class="btn apply-bt">
                                    <a href="https://it.surveymonkey.com/r/eduopen_transcriptor">Apply</a>
                                </div>
                                <div class="btn join-bt">Join the translator Community</div>
                                <hr class="apply-hr">
                            </div>
                        </div>
                        <br>
                    </section>

                    <section id="Edu-Forum-Tutor">
                        <div class="row-fluid">
                            <div class="col-md-12 col-sm-12 col-xs-12 pad0A">
                                <h1><?php echo get_string('eduopen_forum_tutor_en', 'theme_eduopen'); ?></h1>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 pad0A faq-sec">
                                <div class="faq">
                                    <p><?php echo get_string('forum_tutor_q1_en', 'theme_eduopen'); ?></p>
                                    <ul>
                                        <li><?php echo get_string('forum_tutor_a11_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('forum_tutor_a12_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('forum_tutor_a13_en', 'theme_eduopen'); ?></li>
                                    </ul>
                                </div>
                                <div class="faq">
                                    <p><?php echo get_string('forum_tutor_q2_en', 'theme_eduopen'); ?></p>
                                    <ul>
                                        <li><?php echo get_string('forum_tutor_a21_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('forum_tutor_a22_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('forum_tutor_a23_en', 'theme_eduopen'); ?></li>
                                    </ul>
                                </div>
                                <div class="faq">
                                    <p><?php echo get_string('forum_tutor_q3_en', 'theme_eduopen'); ?></p>
                                    <ul>
                                        <li><?php echo get_string('forum_tutor_a31_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('forum_tutor_a32_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('forum_tutor_a33_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('forum_tutor_a34_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('forum_tutor_a35_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('forum_tutor_a36_en', 'theme_eduopen'); ?></li>
                                        <li><?php echo get_string('forum_tutor_a37_en', 'theme_eduopen'); ?></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 pad0A apply-but">
                                <div class="btn apply-bt">
                                    <a href="https://it.surveymonkey.com/r/eduopen_forum_tutor">Apply</a>
                                </div>
                                <div class="btn join-bt">Join the translator Community</div>
                                <hr class="apply-hr">
                            </div>
                        </div>
                        <br>
                    </section>

                    <!--                    <section id="Edu-opinion">
                                            <div class="row-fluid">
                                                <div class="col-md-12 col-sm-12 col-xs-12 pad0A">
                                                    <h1><?php echo get_string('eduopen_opinion_en', 'theme_eduopen'); ?></h1>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12 pad0A faq-sec">
                                                    <div class="faq">
                                                        <p><?php echo get_string('opinion_q1_en', 'theme_eduopen'); ?></p>
                                                        <ul>
                                                            <li><?php echo get_string('opinion_a11_en', 'theme_eduopen'); ?></li>
                                                        </ul>
                                                    </div>
                                                    <div class="faq">
                                                        <p><?php echo get_string('opinion_q2_en', 'theme_eduopen'); ?></p>
                                                        <ul>
                                                            <li><?php echo get_string('opinion_a21_en', 'theme_eduopen'); ?></li>
                                                            <li><?php echo get_string('opinion_a22_en', 'theme_eduopen'); ?></li>
                                                            <li><?php echo get_string('opinion_a23_en', 'theme_eduopen'); ?></li>
                                                        </ul>
                                                    </div>
                                                    <div class="faq">
                                                        <p><?php echo get_string('opinion_q3_en', 'theme_eduopen'); ?></p>
                                                        <ul>
                                                            <li><?php echo get_string('opinion_a31_en', 'theme_eduopen'); ?></li>
                                                            <li><?php echo get_string('opinion_a32_en', 'theme_eduopen'); ?></li>
                                                            <li><?php echo get_string('opinion_a33_en', 'theme_eduopen'); ?></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12 pad0A apply-but">
                                                    <div class="btn apply-bt">
                                                        <a href="https://it.surveymonkey.com/r/">Apply</a>
                                                    </div>
                                                    <div class="btn join-bt">Join the translator Community</div>
                                                    <hr class="apply-hr">
                                                </div>
                                            </div>
                                            <br>
                                        </section>-->

                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 collbora-3 pad0A">
                    <section class="active-forum-tutor">
                        <div class="act-forum"><?php echo get_string('most_active_forum_tutor', 'theme_eduopen'); ?></div>
                        <?php echo collaboration_instructor('forumtutor'); ?>
                    </section>
                    <section class="active-translator">
                        <div class="act-translator"><?php echo get_string('most_active_translator', 'theme_eduopen'); ?></div>
                        <?php echo collaboration_instructor('translator'); ?>
                    </section>
                </div>
            </div>
        </div><!--end of container main-content-->
    </body>
</html>