<html>
    <body>
        <div class="container-fluid">
            <div class="container-fluid">
                <br>
                <section id="#Mission">
                    <div class="row-fluid">
                        <div class="col-md-12 col-sm-12 col-xs-12 nopadding row1">
                            <h3 class="head-1">
                                <?php echo $PAGE->theme->settings->policy_en_condition_header ?>
                                </h1>
                        </div><!--end of row1-->
                    </div><!--end of row-->
                    <br><br>
                    <hr>
                    <div class="row-fluid">
                        <div class="col-md-12 col-sm-12 col-xs-12 nopadding mission float-left">
                            <h3><?php echo $PAGE->theme->settings->policy_en_condition_content1title ?></h3>
                        </div><!--end of mission-->
                        <div class="col-md-12 col-sm-12 col-xs-12 nopadding mission float-left">
                            <p><?php echo $PAGE->theme->settings->policy_en_condition_content1 ?></p>
                        </div><!--end of mission-->
                    </div><!--end of row-->
                    <br><br>
                </section>
                <hr>
                <section id="#Works">
                    <div class="row-fluid">
                        <div class="col-md-12 col-sm-12 col-xs-12 nopadding mission float-left">
                           <h3><?php echo $PAGE->theme->settings->policy_en_condition_content2title ?></h3>
                        </div><!--end of row2-->
                        <div class="col-md-12 col-sm-12 col-xs-12 nopadding mission float-left">
                            <p><?php echo $PAGE->theme->settings->policy_en_condition_content2 ?></p>
                        </div><!--end of row2-->
                    </div><!--end of row-->
                    <br>
                </section>
            </div><!--end of container main-content-->  
        </div>
    </body>
</html>