<html>
    <body>
        <div class="container-fluid">
            <br>
            <section id="#Mission">
                <div class="row-fluid">
                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding row1">

                        <h1 class="head-1"> <?php echo get_string('ourmissions', 'theme_eduopen');?> </h1>

                    </div><!--end of row1-->
                </div><!--end of row-->
                <br><br>
                <hr class="hr1">
                <br><br>
                <div class="row-fluid">
                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding mission textcenter">

                        <?php echo get_string('ourmissionsdesc', 'theme_eduopen');?>

                    </div><!--end of mission-->
                </div><!--end of row-->
                <br><br>
            </section>
            <hr>
            <section id="#Works">
                <br><br>
                <div class="row-fluid">
                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding row2">
                        <h1 class="head-1"> <?php echo get_string('howworks', 'theme_eduopen');?> </h1>
                    </div><!--end of row2-->
                </div><!--end of row-->
                <br><br>
                <hr class="hr1">
                <div class="row-fluid">
                    <br><br>
                    <div class="row-fluid">
                        <div class="col-md-12 col-sm-12 col-xs-12 nopadding mid">
                            <div class="col-md-3 col-sm-3 col-xs-3"></div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <p class="head-3"><?php echo get_string('howworksdesc', 'theme_eduopen');?></p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3"></div>
                        </div><!--end of mid-->
                    </div>
                    <br><br><br><br>
                    <div class="row-fluid">
                        <div class="col-md-12 col-sm-12 col-xs-12 dis_course">
                            <?php if ($img5) { ?>
                            <div class="col-md-4 col-sm-6 col-xs-6 nopadding">
                                <?php echo "<img src='".$PAGE->theme->setting_file_url('image5', 'image5')."' alt='image5' class='img-responsive img-thumbnail'/>";?>
                            </div>
                            <?php } ?>
                            <div class="col-md-8 col-sm-6 col-xs-6 nopadding">
                                <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                    <h3 class="abtcomcs"><?php echo get_string('discovercourseandsignup', 'theme_eduopen');?></h3>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                    <p class="head-3"> <?php echo get_string('discovercourseandsignupdesc', 'theme_eduopen');?></p>
                                </div>
                            </div>
                        </div><!--end of dis_course-->
                    </div>
                    <br><br><br>
                    <div class="row-fluid">
                        <div class="col-md-12 col-sm-12 col-xs-12  learn_schdl">
                            <div class="col-md-8 col-sm-6 col-xs-6 nopadding">
                                <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                    <h3 class="abtcomcs"><?php echo get_string('learnonyourownschedule', 'theme_eduopen');?></h3>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                    <p class="head-3"> <?php echo get_string('learnonyourownscheduledesc', 'theme_eduopen');?></p>
                                </div>
                            </div>
                            <?php if ($img6) { ?>
                            <div class="col-md-4 col-sm-6 col-xs-6 nopadding">
                                <?php echo "<img src='".$PAGE->theme->setting_file_url('image6', 'image6')."' alt='image6'  class='img-responsive img-thumbnail'/>";?>
                            </div>
                            <?php } ?>
                        </div><!--end of learn_schdl-->
                    </div>
                    <br><br><br>
                    <div class="row-fluid">
                        <div class="col-md-12 col-sm-12 col-xs-12 goals">
                            <?php if ($img7) { ?>
                            <div class="col-md-4 col-sm-6 col-xs-6 nopadding">
                                <?php echo "<img src='".$PAGE->theme->setting_file_url('image7', 'image7')."' alt='image7'  class='img-responsive img-thumbnail'/>";?>
                            </div>
                            <?php } ?>
                            <div class="col-md-8 col-sm-6 col-xs-6 nopadding">
                                <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                    <h3 class="abtcomcs"><?php echo get_string('achieveyourgoals', 'theme_eduopen');?></h3>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                    <p class="head-3"><?php echo get_string('achieveyourgoalsdesc', 'theme_eduopen');?></p>
                                </div>
                            </div>
                        </div><!--end of goals-->
                    </div>
                    <br><br><br><br>
                    <div class="col-md-12 col-sm-12 col-xs-12 find_course">
                        <a href="<?php echo $CFG->wwwroot.'/eduopen/catalog.php?mode=browseallcourses' ?>" class="btn btn-primary crs_btn"> Find a Course Now </a> 
                    </div>
                    <br><br>
                </div><!--end of row--> 
            </section>
            <hr>
            <section id="#Approach">
                <div class="row-fluid">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h1 class="head-1"><?php echo get_string('OurApp', 'theme_eduopen');?></h1>
                    </div>
                </div>
                <br><br>
                <hr class="hr1">
                <br><br>
                <div class="row-fluid">
                    <div class="col-md-12 col-sm-12 col-xs-12 course_exp">
                        <div class="col-md-8 col-sm-6 col-xs-6 nopadding">
                            <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                <h3 class="abtcomcs"><?php echo get_string('eduopenapproach', 'theme_eduopen');?></h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                <p class="head-3"><?php echo get_string('eduopenapproachdesc', 'theme_eduopen');?></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 nopadding">
                            <?php if ($img8) { ?>
                            <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                <?php echo "<img src='".$PAGE->theme->setting_file_url('image8', 'image8')."' alt='image8'  class='img-responsive img-thumbnail'/>";?>
                            </div>
                            <?php } ?>
                        </div>
                    </div><!--end of course_exp-->
                </div>
                <br><br><br>
                <div class="row-fluid">
                    <div class="col-md-12 col-sm-12 col-xs-12 effct_learning">
                        <?php if ($img9) { ?>
                        <div class="col-md-4 col-sm-6 col-xs-6 nopadding">
                            <?php echo "<img src='".$PAGE->theme->setting_file_url('image9', 'image9')."' alt='image9'  class='img-responsive img-thumbnail'/>";
                            ?>
                        </div>
                        <?php } ?>
                        <div class="col-md-8 col-sm-6 col-xs-6 nopadding">
                            <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                <h3 class="abtcomcs"><?php echo get_string('Effectonline', 'theme_eduopen');?></h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                <p class="head-3"><?php echo get_string('Effectonlinedesc', 'theme_eduopen');?></p>
                            </div>
                        </div>
                    </div><!--end of effct_learning-->
                </div>
                <br><br><br>
                <div class="row-fluid">
                    <div class="col-md-12 col-sm-12 col-xs-12 mastery_lrn">
                        <div class="col-md-8 col-sm-6 col-xs-6 nopadding">
                            <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                <h3 class="abtcomcs"><?php echo get_string('Masterylearning', 'theme_eduopen');?></h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                <p class="head-3"> <?php echo get_string('Masterylearningdesc', 'theme_eduopen');?></p>
                            </div>
                        </div>
                        <?php if ($img10) { ?>
                        <div class="col-md-4 col-sm-6 col-xs-6 nopadding">
                            <?php echo "<img src='".$PAGE->theme->setting_file_url('image10', 'image10')."' alt='image10'  class='img-responsive img-thumbnail'/>";?>
                        </div>
                        <?php } ?>
                    </div><!--end of mastery_lrn-->
                </div>
                <br><br><br>
                <div class="row-fluid">
                    <div class="col-md-12 col-sm-12 col-xs-12 peer_assmnt">
                        <?php if ($img11) { ?>
                        <div class="col-md-4 col-sm-6 col-xs-6 nopadding">
                            <?php echo "<img src='".$PAGE->theme->setting_file_url('image11', 'image11')."' alt='image11'  class='img-responsive img-thumbnail'/>";?>
                        </div>
                        <?php } ?>
                        <div class="col-md-8 col-sm-6 col-xs-6 nopadding">
                            <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                <h3 class="abtcomcs"><?php echo get_string('Peerassessments', 'theme_eduopen');?></h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                <p class="head-3"><?php echo get_string('Peerassessmentsdesc', 'theme_eduopen');?></p>
                            </div>
                        </div>
                    </div><!--end of peer_assmnt-->
                </div>
                <br><br><br>
            </section>
            <br><br>
        </div><!--end of container main-content-->
    </body>
</html>